<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mps</title>
    <link th:replace="components/bootstrap :: bootstrapCss">
    <link th:replace="components/bootstrap :: bootstrapIcons">
</head>
<style>
    body {
        height: 80vh;
        background-color: #2c2e32;
        color: rgba(255, 255, 255, 0.65);
    }

    .col-wrapper, .form-wrapper, .form-control {
        height: 60vh;
    }
    .bi{
        font-size: 25px;
    }
    .form-control::-webkit-scrollbar {
        display: none;
    }
    .form-control {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
</style>
<body>

<header th:replace="components/header"></header>

<main>
    <div class="container-fluid p-5 pt-4">
        <div class="d-flex justify-content-between">
            <h3 th:text="${'Ufs de ' + mp.nomMp}"></h3>
        </div>

        <div class="row col-wrapper">
            <div class="col form-wrapper">
                <table class="table table-danger table-striped mb-1">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Hores</th>
                            <th scope="col">Mp</th>
                        </tr>
                    </thead>
                </table>
                <select name="from[]" id="multiselect" class="form-control" multiple="multiple">
                    <option th:each="uf: ${ufsNoMp}" th:value="${uf.idUf}" th:text="${uf.numUf +' ㅤㅤㅤㅤ'+uf.nomUf+'ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ'+uf.horesUf+'ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤNo te mp'}"></option>
                </select>
            </div>

            <div class="col-1 form-wrapper d-flex justify-content-around flex-column">
                <button type="button" id="multiselect_rightAll" class="btn btn-light"><i class="bi bi-chevron-double-right"></i></button>
                <button type="button" id="multiselect_rightSelected" class="btn btn-light"><i class="bi bi-chevron-right"></i></button>
                <button type="button" id="multiselect_leftSelected" class="btn btn-light"><i class="bi bi-chevron-left"></i></button>
                <button type="button" id="multiselect_leftAll" class="btn btn-light"><i class="bi bi-chevron-double-left"></i></button>
            </div>

            <div class="col form-wrapper">
                <table class="table table-success table-striped mb-1">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Hores</th>
                        <th scope="col">Mp</th>
                    </tr>
                    </thead>
                </table>
                <form method="post" th:action="@{/mps/ufs/editPost(id=${mp.idMp})}" th:object="${mp}">
                    <select th:field="*{ufs}" name="to[]" id="multiselect_to" class="form-control" multiple="multiple">
                        <option th:each="uf: ${mp.ufs}" th:value="${uf.idUf}" th:text="${uf.numUf +' ㅤㅤㅤㅤ'+uf.nomUf+'ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ'+uf.horesUf+'ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ'+uf.mp}"></option>
                    </select>
                    <button type="submit" class="btn btn-light float-end mt-1">Confirma</button>
                </form>
            </div>
        </div>
    </div>

</main>


<script th:replace="components/bootstrap :: jquery"></script>
<script th:replace="components/bootstrap :: bootstrapJs"></script>
<script th:replace="components/bootstrap :: bootstrapMultiSelect"></script>
<script>
    $('#multiselect').multiselect();
</script>
</body>
</html>
