<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Matricules</title>
    <style th:replace="components/bootstrap :: bootstrapCss"></style>
    <style th:replace="components/bootstrap :: bootstrapIcons"></style>
</head>
<style>
    body {
        height: 80vh;
        background-color: #2c2e32;
        color: rgba(255, 255, 255, 0.65);
    }
</style>
<body>

<header th:replace="components/header"></header>

<main>

    <div class="container-fluid p-5 pt-4">
        <div class="d-flex justify-content-between">
            <h3 th:text="${'Matricules de ' + expedient.nomExpedient}"></h3>
            <a class="btn btn-success m-1" th:href="@{/expedients/matricules/edit(id=${expedient.idExpedient})}" th:text="${'Maneja les matricules de '+expedient.nomExpedient}"></a>
        </div>

        <table class="table table-secondary table-striped">
            <thead>
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Notes</th>
                <th scope="col">Expedient</th>
                <th scope="col">Edita</th>
                <th scope="col">Elimina</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="matricula: ${matricules}">
                <th th:text="${matricula.dataMatricula}"></th>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Notes
                        </button>
                        <ul class="dropdown-menu">
                            <li th:each="nota: ${matricula.itemmats}" th:text="${nota.idItemmat}" class="dropdown-item"></li>
                            <li><a th:href="@{/matricules/notes(id=${matricula.idMatricula})}"><i style="font-size: 30px; padding-left: 14px;" class="bi bi-three-dots"></i></a></li>
                        </ul>
                    </div>
                </td>
                <td th:text="${matricula.expedient != null} ? ${matricula.expedient.nomExpedient} : 'No pertany a cap expedient'"></td>
                <td>
                    <a th:href="@{/matricules/edit(id=${matricula.idMatricula})}" type="button" class="btn btn-primary">Edita</a>
                </td>
                <td>
                    <a th:href="@{/matricules/delete/modal(id=${matricula.idMatricula})}" type="button" class="btn btn-danger">Elimina</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</main>

<script th:replace="components/bootstrap :: bootstrapJs"></script>
</body>
</html>
