<div th:fragment="modal" class="modal" tabindex="-1" id="modal" style="color: black">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirma elimina</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p th:text="${mssg != null} ? ${mssg} : 'no mssg'"></p>
            </div>
            <div class="modal-footer" th:switch="${del}">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancela</button>
                <a th:case="ufs" th:href="@{/ufs/delete(id=${id})}" type="submit" class="btn btn-danger">Elimina</a>
                <a th:case="mps" th:href="@{/mps/delete(id=${id})}" type="submit" class="btn btn-danger">Elimina</a>
                <a th:case="estudiants" th:href="@{/estudiants/delete(id=${id})}" type="submit" class="btn btn-danger">Elimina</a>
                <a th:case="cursos" th:href="@{/cursos/delete(id=${id})}" type="submit" class="btn btn-danger">Elimina</a>
                <a th:case="grups" th:href="@{/grups/delete(id=${id})}" type="submit" class="btn btn-danger">Elimina</a>
                <a th:case="null" class="btn btn-danger disabled">Elimina</a>
            </div>
        </div>
    </div>
</div>