<div th:fragment="modalUf" class="modal" tabindex="-1" id="modalUf" style="color: black">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirma elimina</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" th:switch="${obj}">
                <div th:case="null"></div>
                <div th:case="*">
                    <p>Segur que vols elimina la <strong th:text="${obj.nomUf}"></strong>?</p>
                </div>
            </div>
            <div class="modal-footer" th:switch="${id}">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancela</button>
                <button th:case="null" type="submit" class="btn btn-primary">Elimina</button>
                <a th:case="*" th:href="@{/ufs/delete(id=${id})}" type="submit" class="btn btn-danger">Elimina</a>
            </div>
        </div>
    </div>
</div>

<div th:fragment="modalMp" class="modal" tabindex="-1" id="modalMp" style="color: black">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirma elimina</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" th:switch="${obj}">
                <div th:case="null"></div>
                <div th:case="*">
                    <p>Segur que vols elimina la <strong th:text="${obj.nomMp}"></strong>?</p>
                    <p>Totes les <strong>ufs</strong> de la mp també s'eliminaran</p>
                </div>
            </div>
            <div class="modal-footer" th:switch="${id}">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancela</button>
                <button th:case="null" type="submit" class="btn btn-primary">Elimina</button>
                <a th:case="*" th:href="@{/mps/delete(id=${id})}" type="submit" class="btn btn-danger">Elimina</a>
            </div>
        </div>
    </div>
</div>

<div th:fragment="modalNota" class="modal" tabindex="-1" id="modalNota" style="color: black">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirma elimina</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" th:switch="${obj}">
                <div th:case="null"></div>
                <div th:case="*">
                    <p>Segur que vols elimina aquesta nota?</p>
                </div>
            </div>
            <div class="modal-footer" th:switch="${id}">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancela</button>
                <button th:case="null" type="submit" class="btn btn-primary">Elimina</button>
                <a th:case="*" th:href="@{/notes/delete(id=${id})}" type="submit" class="btn btn-danger">Elimina</a>
            </div>
        </div>
    </div>
</div>
