<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Grups</title>
    <style th:replace="components/bootstrap :: bootstrapCss"></style>
    <style th:replace="components/bootstrap :: bootstrapIcons"></style>
</head>
<style>
    body {
        height: 80vh;
        background-color: #2c2e32;
        color: rgba(255, 255, 255, 0.65);
    }
</style>
<body>

<header th:replace="components/header"></header>

<main>

    <div class="container-fluid p-5 pt-4">
        <div class="d-flex justify-content-between">
            <h3 th:text="${'Grups de ' + curs.nomCurs}"></h3>
            <a class="btn btn-success m-1" th:href="@{/cursos/grups/modi(id=${curs.idCurs})}"
               th:text="${'Maneja els grups de '+curs.nomCurs}"></a>
        </div>

        <table class="table table-secondary table-striped">
            <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Estudiants</th>
                <th scope="col">Curs</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="grup: ${curs.grups}">
                <th th:text="${grup.nomGrup}"></th>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            Estudiants
                        </button>
                        <ul class="dropdown-menu">
                            <table class="table table-secondary table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Gognom</th>
                                    <th scope="col">Mail</th>
                                    <th scope="col">DNI</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="estudiant: ${grup.estudiants}">
                                    <th th:text="${estudiant.nomEstudiant}"></th>
                                    <th th:text="${estudiant.cognomEstudiant}"></th>
                                    <th th:text="${estudiant.mailEstudiant}"></th>
                                    <th th:text="${estudiant.dniEstudiant}"></th>
                                </tr>
                                </tbody>
                            </table>
                        </ul>
                        <button class="btn btn-dark" style="padding: 3px">
                            <a th:href="@{/grups/estudiants(id=${grup.idGrup})}"><i
                                    style="font-size: 20px; padding: 10px; color: white"
                                    class="bi bi-three-dots"></i></a>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script th:replace="components/modals :: modal"></script>
</main>

<script th:replace="components/bootstrap :: jquery"></script>
<script th:replace="components/bootstrap :: bootstrapJs"></script>
<script>
    $(document).ready(function () {
        let id = "[[${id}]]";
        if (id !== "") {
            $('#modal').modal('show');
        }

        let flash = "[[${flash}]]"
        if (flash !== "") {
            console.log(flash);
            $("#flash").show();
        }
    })
</script>
</body>
</html>
