<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
    <style th:replace="components/bootstrap :: bootstrapCss"></style>
</head>
<style>
    body {
        height: 80vh;
        background-color: #2c2e32;
        color: rgba(255, 255, 255, 0.65);
    }
</style>
<body>

<header th:replace="components/header"></header>

<main>

    <div class="container-fluid p-5 pt-4">
        <div class="d-flex justify-content-between">
            <h3 th:text="${'Notes de ' + matricula.dataMatricula}"></h3>
            <a class="btn btn-success m-1" th:href="@{/matricules/notes/edit(id=${matricula.idMatricula})}" th:text="${'Maneja les notes de '+matricula.dataMatricula}"></a>
        </div>

        <table class="table table-secondary table-striped">
            <thead>
            <tr>
                <th scope="col">Uf</th>
                <th scope="col">Nota ordinaria</th>
                <th scope="col">Nota extraordinaria</th>
                <th scope="col">Matricula</th>
                <th scope="col">Edita</th>
                <th scope="col">Elimina</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="nota: ${notes}">
                <th th:text="${nota.uf != null} ? ${nota.uf.nomUf} : 'No pertany a cap uf'"></th>
                <td th:text="${nota.notaOrd}"></td>
                <td th:text="${nota.notaExtra}"></td>
                <td th:text="${nota.matricula != null} ? ${nota.matricula.dataMatricula} : 'No pertany a cap matricula'"></td>
                <td>
                    <a th:href="@{/notes/edit(id=${nota.idItemmat})}" type="button" class="btn btn-primary">Edita</a>
                </td>
                <td>
                    <a th:href="@{/notes/delete/modal(id=${nota.idItemmat})}" type="button" class="btn btn-danger">Elimina</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</main>

<script th:replace="components/bootstrap :: bootstrapJs"></script>
</body>
</html>
