<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style th:replace="components/bootstrap :: bootstrapCss"></style>
</head>
<style>
    body {
        height: 80vh;
        background-color: #2c2e32;
        color: rgba(255, 255, 255, 0.65);
    }
</style>
<body>

<header th:replace="components/header"></header>

<main>
    <div class="container-fluid d-flex justify-content-center">
        <div class="m-4 d-flex justify-content-around flex-column" style="width: 300px;">
            <a class="btn btn-light m-2" th:href="@{/cursos}">Cursos</a>
            <a class="btn btn-light m-2" th:href="@{/estudiants}">Estudiants</a>
            <a class="btn btn-light m-2" th:href="@{/expedients}">Expedients</a>
            <a class="btn btn-light m-2" th:href="@{/grups}">Grups</a>
            <a class="btn btn-light m-2" th:href="@{/notes}">Notes</a>
            <a class="btn btn-light m-2" th:href="@{/matricules}">Matricules</a>
            <a class="btn btn-light m-2" th:href="@{/mps}">Mps</a>
            <a class="btn btn-light m-2" th:href="@{/ufs}">Ufs</a>
            <a class="btn btn-light m-2" th:href="@{/plans}">plans</a>
        </div>
    </div>
</main>

<script th:replace="components/bootstrap :: bootstrapJs"></script>
</body>
</html>