<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mps</title>
    <style th:replace="components/bootstrap :: bootstrapCss"></style>
    <style th:replace="components/bootstrap :: bootstrapIcons"></style>
</head>
<style>
    body {
        height: 80vh;
        background-color: #2c2e32;
        color: rgba(255, 255, 255, 0.65);
    }
</style>
<body>

<header th:replace="components/header"></header>

<main>

    <div class="container-fluid p-5 pt-4">
        <div th:replace="components/flash :: ok"></div>
        <div class="d-flex justify-content-between">
            <h3 th:text="${'Mps de ' + pla.nomPla}"></h3>
            <a class="mb-2 btn btn-light" th:href="@{/plans/mps(id=${pla.idPla})}">Confirma</a>
        </div>

        <div class="row">
            <div class="col">
                <table class="table table-danger table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Ufs</th>
                        <th scope="col">Affegeix</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="mp: ${mpsNoPla}">
                        <th th:text="${mp.numMp}"></th>
                        <td th:text="${mp.nomMp}"></td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton2"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    Ufs
                                </button>
                                <ul class="dropdown-menu">
                                    <table class="table table-secondary table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Nom</th>
                                            <th scope="col">Hores</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="uf: ${mp.ufs}">
                                            <th th:text="${uf.numUf}"></th>
                                            <th th:text="${uf.nomUf}"></th>
                                            <th th:text="${uf.horesUf}"></th>
                                        </tr>
                                        </tbody>
                                    </table>
                                </ul>
                                <button class="btn btn-dark" style="padding: 3px">
                                    <a th:href="@{/mps/ufs(id=${mp.idMp})}"><i
                                            style="font-size: 20px; padding: 10px; color: white"
                                            class="bi bi-three-dots"></i></a>
                                </button>
                            </div>
                        </td>
                        <td><a class="btn btn-danger" th:href="@{/plans/mps/add(idPla=${pla.idPla}, idMp=${mp.idMp})}"><i
                                class="bi bi-arrow-right"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table table-success table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Ufs</th>
                        <th scope="col">Affegeix</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="mp: ${pla.mps}">
                        <th th:text="${mp.numMp}"></th>
                        <td th:text="${mp.nomMp}"></td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    Ufs
                                </button>
                                <ul class="dropdown-menu">
                                    <table class="table table-secondary table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Nom</th>
                                            <th scope="col">Hores</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="uf: ${mp.ufs}">
                                            <th th:text="${uf.numUf}"></th>
                                            <th th:text="${uf.nomUf}"></th>
                                            <th th:text="${uf.horesUf}"></th>
                                        </tr>
                                        </tbody>
                                    </table>
                                </ul>
                                <button class="btn btn-dark" style="padding: 3px">
                                    <a th:href="@{/mps/ufs(id=${mp.idMp})}"><i
                                            style="font-size: 20px; padding: 10px; color: white"
                                            class="bi bi-three-dots"></i></a>
                                </button>
                            </div>
                        </td>
                        <td><a class="btn btn-success" th:href="@{/plans/mps/remove(idPla=${pla.idPla}, idMp=${mp.idMp})}"><i
                                class="bi bi-arrow-left"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>


<style th:replace="components/bootstrap :: jquery"></style>
<style th:replace="components/bootstrap :: bootstrapJs"></style>
<script>
    $(document).ready(function () {
        let id = "[[${id}]]";
        if (id !== "") {
            $('#modalExpedient').modal('show');
        }

        let flash = "[[${flash}]]"
        if (flash !== "") {
            console.log(flash);
            $("#flash").show();
        }
    })
</script>
</body>
</html>
