<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Expedient</title>
    <style th:replace="components/bootstrap :: bootstrapCss"></style>
    <style th:replace="components/bootstrap :: bootstrapIcons"></style>
</head>
<style>
    body {
        height: 80vh;
        background-color: #2c2e32;
        color: rgba(255, 255, 255, 0.65);
    }
</style>
<body>

<header th:replace="components/header"></header>

<main>

    <div class="container-fluid p-5 pt-4">
        <div class="d-flex justify-content-between">
            <h3 th:text="${'Expedient de ' + estudiant.nomEstudiant + ' ' + estudiant.cognomEstudiant}"></h3>
            <div>
                <a class="btn btn-primary m-1" th:href="@{/estudiants}">Torna endarrera</a>
                <a class="btn btn-success m-1" th:href="@{/estudiants/expedient/modi(id=${estudiant.idEstudiant})}"
                   th:text="${'Maneja lexpedient de '+ estudiant.nomEstudiant}"></a>
            </div>
        </div>

        <table class="table table-secondary table-striped">
            <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Estudiant</th>
                <th scope="col">Matricules</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="expedient: ${expedientsEstudiant}">
                <th th:text="${expedient.nomExpedient}"></th>
                <td th:text="${expedient.estudiant != null} ? ${expedient.estudiant.nomEstudiant} : 'No pertany a cap estudiant'"></td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            Matricules
                        </button>
                        <ul class="dropdown-menu">
                            <table class="table table-secondary table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Data</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="matricula: ${expedient.matricules}">
                                    <th th:text="${matricula.nomMatricula}"></th>
                                    <th th:text="${matricula.dataMatricula}"></th>
                                </tr>
                                </tbody>
                            </table>
                        </ul>
                        <button class="btn btn-dark" style="padding: 3px">
                            <a th:href="@{/expedients/matricules(id=${expedient.idExpedient})}"><i
                                    style="font-size: 20px; padding: 10px; color: white"
                                    class="bi bi-three-dots"></i></a>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</main>

<script th:replace="components/bootstrap :: bootstrapJs"></script>
</body>
</html>
